#container {
    position: absolute;
    width: 100%;
    top: 200px;
}

.github {
    position: absolute;
    margin-top: 35px;
    margin-left: 35px;
    z-index: 200;
    font-size: 20px;
    font-family: 'Rubik Mono One';
    background-color: white;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 5px;
    text-decoration:underline;
    color: #FF6600;
}

.update {
    position: absolute;
    margin-top: 65px;
    margin-left: 35px;
    z-index: 200;
    font-size: 10px;
    font-family: 'Rubik Mono One';
    background-color: white;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 5px;
    color: slategray;
}

.container {
    display: inline-block;
    width: 500px;
    height: 350px;
    background-color: white;
    border-radius: 30px;
    margin-left: 100px;
    margin-bottom: 50px;
}

.img {
    position: relative;
    min-height: 200px;
    max-height: 250px;
    max-width: 450px;
    left: 50%;
    transform: translate(-50%);
    margin-top: 25px;
    border-radius: 20px 20px 0px 0px;
}

.title {
    font-family: 'Rubik Mono One';
    margin-left: 25px;
}

.description {
    width: 450px;
    height: 45px;
    margin-left: 25px;
    font-family: 'Roboto Mono';
    overflow-y:scroll;
    color: darkslategray;
}
