* {
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
}

body {
    background-color: black;
}

header {
    width: 100%;
    height: 75px;
    position: absolute;
}

.SCLogo {
    position: absolute;
    z-index: 999;
    width: 70px;
    bottom: 0;
    margin-left: 10px;
    cursor: pointer;
}

.navLinks {
    position: absolute;
    font-family: 'Rubik Mono One';
    z-index: 1000;
    font: 30px;
    text-decoration: none;
    list-style: none;
}

.navLinks li a {
    color: black;
    transition: all 0.2s;
}

.navLinks li {
    display: inline-block;
    padding: 0px 20px;
}

.navLinks li a:hover {
    color: #FF6600;
}

nav {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 30px 3%;
}

.grey {
    color: grey;
    cursor:cell;
    animation: all 0.2s;
}

.grey:hover {
    color: darkslategrey;
}

.grey:hover::after {
    content: ":Coming soon";
}


#scene {
    position: absolute;
    top: 25vh;
    left: 39vw;
    width: 500px;
    height: 500px;
}

#scene p {
    position: absolute;
    color: white;
    margin-top: 35vh;
    margin-left: 3.5vw;
    transform: translate(-50%,-50%);
    font-size: 1.5vw;
    width: 500px;
    font-family: 'Roboto Mono';
    font-weight: bolder;
}

.SCimg {
    position: absolute;
    width: 15vw;
    margin-left: 100px;
    cursor: pointer;
}

.waveDiv {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wave {
    overflow-y: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../Images/Geometric\ wave2.png);
    background-size: 2000px 100px;
}
.waveTwo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../Images/Geometric\ wave2\ Flipped.png);
    background-size: 2000px 100px;
}

.wave1 {
    animation: animate 7.5s linear infinite;
    z-index: 999; 
}
.wave2 {
    animation: animate 15s linear infinite;
    z-index: 998;
    opacity: 0.75;  
    bottom: 10px;
    background-size: 1500px 100px;
}
.wave3 {
    animation: animate 30s linear infinite;
    z-index: 997;
    opacity: 0.5; 
    bottom: 20px;  
    background-size: 1000px 100px;

}
.wave4 {
    animation: animate 45s linear infinite;
    z-index: 996;
    opacity: 0.25; 
    bottom: 30px;  
    background-size: 500px 100px;
}
.wave5 {
    animation: animate2 7.5s linear infinite;
    z-index: 995; 
}
.wave6 {
    animation: animate2 15s linear infinite;
    z-index: 994;
    opacity: 0.75;  
    bottom: 10px;
    background-size: 1500px 100px;
}
.wave7 {
    animation: animate2 30s linear infinite;
    z-index: 993;
    opacity: 0.5; 
    bottom: 20px;  
    background-size: 1000px 100px;

}
.wave8 {
    animation: animate2 45s linear infinite;
    z-index: 992;
    opacity: 0.25; 
    bottom: 30px;  
    background-size: 500px 100px;
}
@keyframes animate {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 2000px;
    }
    
}

@keyframes animate2 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -2000px;
    }
    
}
